@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  width: 100wh;
  overflow: hidden;
  background: #000;
  // background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    position: relative;

    .textContainer {
      width: 60%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 5px;
      }
      .myname{
        font-size: 30px;
        color: orangered;
        letter-spacing: 5px;
      }

      h1 {
        font-size: 80px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          transform: scale(1);
          
        }
        button:hover{
          background: linear-gradient(180deg, #B58ECC, #B58ECC);
        }
      }
      

      img {
        width: 60px;
      }
    }
  }

  .imageContainer {
    height: 60%;
    position: absolute;
    top: 60px;
    right: 30px;
    

    @include mobile {
      height: 40%;
      width: 50%;
      top: unset;
      bottom: 0;
      right: 110px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: rgba(182, 6, 252, 0.15) 16px 8px 24px;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 32vh;
    bottom: -30px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;  
    
  }
}

.main-container{
  width: 500px;
  height: 500px;
  background-image: url("/11.jpeg");
  background-position:-200px;
  position: relative;
  border-radius: 20px;


}

.firstchild{
  background-color: rgb(22, 22, 22);
  width: 290px;
  height: 180px;
  z-index: 4;
  position: relative;
  top: 11px;
  left: 200px;
  border-radius: 15px;
  animation: first-animation 2s infinite;
 

}

@keyframes first-animation {
  0%, 100% {
    transform: translateY(0);

  }
  50% {
    transform: translateY(-10px); 
    
  }
  
}

.secondchild{
  background-color: rgb(22, 22, 22);
  width: 290px;
  height: 160px;
  z-index: 2;
  top: 30px;
  left: 260px;
  position: relative;
  border-radius: 15px;
  animation: second-animation 1s infinite

}

@keyframes second-animation {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px); 
  }
  
}



.thirdchild{
  background-color: rgb(22, 22, 22);
  width: 290px;
  height: 180px;
  z-index: 2;
  position: relative;
  top: 50px;
  left: 200px;
  border-radius: 15px;
  animation: first-animation 3s infinite;

}

.running-img{
  position:absolute;
  z-index: 2;
  animation: first-animation 3s infinite;

}

.running-html{
  top: 128px;
  left: 27px;
}
.running-css{ 
  top: 140px;
  left: 67px;
}
.running-js{
  top: 170px;
  left: 97px;
}

.running-react{
  top: 245px;
  left: 97px;
}
.running-boot{
  top: 230px;
  left: 67px;
}
.running-redux{
  top: 320px;
  left: 97px;
}
.running-github{
  top: 292px;
  left: 18px;
}
.running-graphql{
  top: 140px;
  left: 161px;
}

.running-img2{
  position:absolute;
  z-index: 2;
  animation: second-animation 1s infinite;
}

.running-tailwind{
  top: 232px;
  left: 220px;
}


.running-socket{
  top: 232px;
  left: 148px;
}
.running-git{
  top: 352px;
  left: 161px;
}
.running-node{
  top: 302px;
  left: 161px;
}



.running-nextjs{
  top: 240px;
  left: 191px;
}

.running-img2:hover ,.running-img:hover{
  scale: 2;
}